@import "tailwindcss";
 .navbar{
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: aqua;
}

.navbar ul{
  width: 80%;   
  display: flex;
  gap: 25px;
  list-style: none;
}

.navbar ul a{
  color: black;
  text-decoration: none;
}

.foot-div{
  display: flex;
  gap: 50px;
}

.foot-ul p{
  font-size: 50px;
}

.foot-ul li{
  font-size: 20px;
} 