@import "tailwindcss";

 .navbar{
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: aqua;
}

.navbar ul{
  width: 80%;   
  display: flex;
  gap: 25px;
  list-style: none;
}

.navbar ul a{
  color: black;
  text-decoration: none;
}

.foot-div{
  display: flex;
  gap: 50px;
}

.foot-ul p{
  font-size: 50px;
}

.foot-ul li{
  font-size: 20px;
} 
.form-input{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  width: 300px;
  margin: auto;
}
.form-input input{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}
.form-input button{
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
}